body {
	background-color: black;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.toolbar {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	margin-bottom: 15px;
}

.started {
	background-color: #0202fc;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	display: inline-block;
}

.stopped {
	background-color: red;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	display: inline-block;
}

.infos {
	width: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.status {
	margin-left: 10px;
}

.iterations {
	font-size: 20px;
	font-weight: bold;
	color: #0202fc;
	border-top: 1px solid black;
	width: 40px;
	height: 40px;
}

.boutons {
	display: flex;
}

.bouton {
	width: 30px;
	height: 30px;
	background-size: contain;
	background-repeat: no-repeat;
	border: none;
	margin-left: 10px;
	background-color: black;
}

.bouton:hover, .size:hover {
	cursor: pointer;
}

.bouton:active {
	transform: scale(0.95); 
}

.number {
	font-size: 25px;
	font-weight: bold;
	color: #2DFF03;
	border: none;
	width: 60px;
	background-size: contain;
	margin-left: 10px;
	background-color: black;
}

.bouton-play {
	background-image: url("/img/play.png")
}

.bouton-stop {
	background-image: url("/img/pause.png")
}

.bouton-erase {
	background-image: url("/img/erase.png")
}

.bouton-reset {
	background-image: url("/img/reset.png")
}

.bouton-fill {
	background-image: url("/img/fill.png")
}

.bouton-save {
	background-image: url("/img/save.png")
}

.bouton-load {
	background-image: url("/img/load.png")
}

.bouton-zoomin {
	background-image: url("/img/zoomin.png")
}

.bouton-zoomout {
	background-image: url("/img/zoomout.png")
}

.bouton-swap {
	background-image: url("/img/swap.png")
}

.bouton-step {
	background-image: url("/img/step.png")
}


.slider {
	margin-left: 10px;
	-webkit-appearance: none;  
	appearance: none;
	width: 150px; 
	height: 25px; 
	background: white; 
	outline: none; 
	opacity: 0.7; 
	-webkit-transition: .2s; 
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1; 
}


.slider::-webkit-slider-thumb {
	-webkit-appearance: none; 
	appearance: none;
	width: 25px; 
	height: 25px; 
	background: #4CAF50; 
	cursor: pointer; 
}

.slider::-moz-range-thumb {
	width: 25px; 
	height: 25px; 
	background: #2CFF01; 
	cursor: pointer; 
}